
{{#if true.login}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>J.S.C.C</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

  </head>
  <body>

    {{{body}}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

{{else}}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" >

</head>


<body>
{{!-- NAVBAR --}}
<nav class="navbar bg-gray-700">
        <button type="button" class="navbar-toggler btn btn-muted btn-lg" aria-expanded="false"
                aria-label="Toggle navigation" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand text-muted">Hi, Admin!</a>

</nav>

{{!-- SIDEBAR HEADER --}}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header  bg-gray-800 "> 
     <div class="text-gray-100 text-xl">
      <div class="p-2.5 mt-1 flex items-center">
        <i class="bi bi-braces px-2 py-1 bg-white rounded-md text-black"></i>
        <h1 class="offcanvas-title font-bold text-gray-200 text-[18px] ml-3 font-bold" id="offcanvasExampleLabel">Pangalan sa User</h1>
        </div>
      </div>
  </div>
  {{!-- SIDEBAR BODY --}}
  <div class="offcanvas-body bg-gray-800 ">
  <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer bg-gray-700 text-white">
        <i class="bi bi-search text-sm"></i>
        <input type="text" placeholder="Search" class="text-[15px] ml-4 w-full bg-transparent focus:outline-none">
      </div>
      {{!--
        Admin Dashboard View
          Must Include:
            Home button as "Home"
            Supplier button as "Suppliers"
            Item Brand button as "Brands"
            View Employees button as "Employees"
            Logout Button as "Logout"
       --}}
      {{!-- Home BUTTON --}}
      <a href="/home" class="nav-link active">
      <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="bi bi-house-door-fill"></i>
        <span class="text-[15px] ml-4 text-gray-200 font-medium">Home</span>
      </div>
      </a>
      {{!-- Suppliers BUTTON --}}
      <a href="/SupplierPage" class="nav-link active">
      <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="bi bi-archive-fill"></i>
        <span class="text-[15px] ml-4 text-gray-200 font-medium">Suppliers</span>
      </div>
      </a>
      {{!-- Brands BUTTON --}}
      <a href="/brandpage" class="nav-link active">
      <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="bi bi-tags-fill"></i>
        <span class="text-[15px] ml-4 text-gray-200 font-medium">Brands</span>
      </div>
      </a>
      {{!-- Employees BUTTON --}}
      <a href="/EmployeePage" class="nav-link active">
      <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <i class="bi bi-people-fill"></i>
        <span class="text-[15px] ml-4 text-gray-200 font-medium">Employees</span>
      </div>
      </a>
      {{!-- Records DROPDOWN BUTTON --}}
      <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white" onclick='dropdown()'>
        <i class="bi bi-card-checklist"></i>
        <div class="flex justify-between w-full items-center">
          <span class="text-[15px] ml-4 text-gray-200 font-medium">Records</span>
          <span class="text-sm rotate-180" id="arrow">
          <i class="bi bi-chevron-down"></i>
          </span>
        </div>
      </div>
        {{!-- Record DROPDOWN --}}
        <div class="text-left text-sm font-thin mt-2 w-4/5 mx-auto text-gray-200 block" id="submenu">
          <h1 href="#" class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1 text-[15px]">Transactions</h1>
          <h1 href="#" class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1 text-[15px]">Cancelled Orders</h1>
          <a href="/StockinHistoryPage" class="nav-link active"><h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1 text-[15px]">Stock In History</h1></a>
          <h1 href="#" class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1 text-[15px]">Stock Return History</h1>
        </div>
      {{!-- Logout BUTTON --}}
      <a href="/logout" class="nav-link active">
      <div class="p-2.5 mt-3 flex rounded-md pl-4 duration-300 cursor-pointer hover:bg-gray-700 text-white ">
        <i class="bi bi-box-arrow-left"></i>
        <span class="text-[15px] ml-4 text-gray-200 font-medium">Logout</span>
      </div>
      </a>
    </div>
  </div>

 <script type="text/javascript">
    function dropdown(){
      document.querySelector('#submenu').classList.toggle('hidden');
      document.querySelector('#arrow').classList.toggle('rotate-0');
    }
    dropdown()
    function Open(){
      document.querySelector('.sidebar').classList.toggle('-left-[315px]');
    }
  </script>

    <div class="container pt-5 pb-5 ">

        {{{body}}}
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>
          
{{/if}}
