    {{!-- 
      WIDGETS:
        P-O-S
        Inventory
        Employees
    --}}
      <div class="position-absolute top-50 start-50 translate-middle">

    <div class="flex md:items-center justify-center">
      <a href="" class="nav-link active">
        <div class="flex mt-4 ml-4 bg-gray-300 rounded mr-14 w-48 h-48 md:items-center justify-center">
            <span class="text-3xl font-medium">P.O.S.</span>
        </div>
      </a>
      <a href="/invitem" class="nav-link active">
        <div class="flex mt-4 ml-4 bg-gray-300 rounded mr-14 w-48 h-48 md:items-center justify-center">
            <span class="text-3xl font-medium">Inventory</span>
        </div>
      </a>
      <a href="/EmployeePage" class="nav-link active">
        <div class="flex mt-4 ml-4 bg-gray-300 rounded mr-14 w-48 h-48 md:items-center justify-center">
            <span class="text-3xl font-medium">Employees</span>
        </div>
      </a>
    </div>
    </div>
    {{!-- <div class="blocked">
      <img src="https://cdn-icons-png.flaticon.com/512/3043/3043918.png" class="h-40 w-40" alt="working on it">
      <span class="font-semibold text-xl">We're working on it!</span>
    </div> --}}
