
<div class="title">

<div class="content">
 
   <main class="flex md:items-center justify-center h-screen bg-gradient-to-r from-cyan-500 to-blue-500">
      <form action="/auth" method="post">
        <div class="bg-white w-96 p-8 rounded shadow-sm block">
          <span class="flex md:items-center justify-center font-bold block text-gray-700 text-2xl">
            Supersystem
          </span>
          <span class="flex font-bold text-gray-700 pt-2" >Username</span>
            <input type="text" value="" name="username" placeholder="UserName" class="text-gray-500 mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400">
          <span class="flex font-bold text-gray-700 pt-2">Password</span>
          <input type="password" name="password" placeholder="Password" value="" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400">
          <div class="flex pt-6">
                <input type="submit" value="Login" class="bg-blue-500 w-full text-gray-100 py-2 rounded hover:bg-blue-600 transition-colors"> 
            </div>
          <div class="flex pt-6">
            <button class="bg-gray-700 w-full text-gray-100 py-2 rounded hover:bg-gray-500 transition-colors" onclick="window.location.href = 'attendance'">Attendance</button>
            </div>

        </div>
      </form>
    </main>


</div>

</div>

