            <div class="container px-4 px-lg-5 d-flex h-75 align-items-center justify-content-center bg-dark">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="text-light mx-auto my-0 text-uppercase">Employee Management</h1>
                        <h2 class="text-light 50 mx-auto mt-2 mb-5">Good day, employee.</h2>
                        <a class="btn btn-light" href="/attendance">Attendance</a>
                        <a class="btn btn-light" href="/myattendance">View your attendance records</a>
                        <a class="btn btn-light" href="/employeelist">View employee list.</a>
                    </div>
                </div>
            </div>